body {
    font-family:  "Roboto", sans-serif;
}
h1 {
    font-size: 56px!important;
    line-height: 64px;
    font-weight: 700!important;
    color: #092F57;
    margin-bottom: 20px!important;
    margin-top: 30px!important;
}
p {

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;

}
hr {
    opacity: 1!important;
}
.menu-align {
    text-align: left;
    padding-left: 60px!important;
}
.top-header-align {
    padding-left: 60px!important;
}
.top-header-align a{
    color: #F8BA1D;
    display: inline;
    margin-right: 20px;
    font-size: 14px;
}
.top-header-right{
    text-align: right;
}
.top-header-right a{
    font-size: 14px;
    padding-right: 15px;
    color: black;
}
.top-header-right a:last-child{
    padding-right: 0px;
}


.text-indent {
    padding-left: 2rem;
}
.top-header{
    padding-top: 20px;
}

.top-header a{
    text-decoration: none;
}
.header-bold-link{
    font-weight: 900;
    color: black;
}
.top-header p{
    font-size: 14px;
    font-weight: 400;
}
.nav_menu ul {
    display: inline-block;
    list-style: none;
}

.nav_menu a {
    color:#092F57;
    font-size: 18px;
    line-height: 32px;
    font-weight: 700;
    text-decoration: none;
}

.nav_menu a:hover {
    color:#F8BA1D;
    stroke:1px #ffffff;
}

.sub-menu a:hover {
    color:#F8BA1D;;
    font-weight: 300;
}
.sub-menu a {
    color:#092F57;
    font-weight: 300;
}
.sub-menu ul {
    padding-left: 0px;
}


.nav_menu ul li {
    display: inline-block;
}

.nav_menu ul li:hover .sub-menu{

	display:block;
	position:absolute;
	background-color:rgb(228, 22, 22);
	padding-top:15px;
	margin-left: -15px;
}



.nav_menu ul li:hover .sub-menu ul{

	display:block;
	margin:10px;
	padding-right:10px;

}
.nav_menu ul li:hover .sub-menu ul li {

	width:190px;
	background:transparent;
	text-align:left;
	margin-left:5px;
	margin-bottom:5px;
	width: 300px!important;


}

.nav_menu ul li:hover .sub-menu ul li:last-child{

	width:190px;
	padding-bottom:0px;
	background:transparent;
	text-align:left;
	margin-bottom:0px;
}

.nav_menu ul li:hover .sub-menu ul li a {
	padding-top:4px;
	padding-bottom:4px;
	padding-left:4px;
	border-radius:4px;


}

.nav-menu-haschild{

	padding:15px 15px 15px 15px;
	border-radius: 4px 4px 0px 0px;
	background-color:transparent;
}


.sub-menu {
	display:none;
	border-radius: 8px;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
    width: 250px;
    padding: 0px;

}

.sub-menu:hover {
	display:block;

}

.nav_menu ul li:hover .sub-menu{

	display:block;
	position:absolute;
	background-color:white;
	padding-top:0px;
}

.nav_menu ul li:hover .sub-menu ul{

	display:block;
	margin:10px;
	padding-right:10px;

}
.nav_menu ul li:hover .sub-menu ul li {

	width:190px;
	background:transparent;
	text-align:left;
	margin-left:5px;
	margin-bottom:5px;
	width: 100%!important;


}

.nav_menu ul li:hover .sub-menu ul li:last-child{

	width:190px;
	padding-bottom:0px;
	background:transparent;
	text-align:left;
	margin-bottom:0px;
}




.nav_menu ul li:hover .sub-menu ul li a {
	padding-top:4px;
	padding-bottom:4px;
	padding-left:4px;
	border-radius:4px;
}
.nav_menu ul li {
    padding-right: 30px;
}

.vertica-align-item{
    padding-top: 15px;
    text-align: right;
}

.login-btn {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;

}
.btn-unival-l-text {
    color: #ffffff;
    background-color:#092F57;
    border-radius: 30px;
    text-align: center;
    padding: 8px 0px;
    width:auto;
}
.menu-container{
    padding:20px 0px;
}
hr {
    height: 1px;
    color: rgba(7, 38, 71, 0.6);
    margin: 0px!important;
}


@media only screen and (max-width: 1400px) {
    .nav_menu ul li {
        padding-right: 10px;
    }
}

@media screen and (max-width: 1400px) and (min-width: 1200px) {
.top-header-align{
    width: 38%!important;
}
.top-header-right{
    width: 36%!important;
}
}
.footer-red{
    background-color: #93121C;
    padding: 70px 0px 60px 0px;
    text-align: center;
    margin-top: 100px;
    position: relative;
}
.footer-yellow-text {
    color: #F8BA1D;
    font-size: 32px;
    line-height: 37px;
    font-weight: 700;
}
.footer-white-text{
    color: #ffffff;
    font-size: 26px;
    line-height: 30px;
    font-weight: 300; 
}
.footer-form-group button {
    background: #F8BA1D;
    border: 0px;
    color: #000;
    border-radius: 0px 30px 30px 0px;
    height: 82px;
    font-size: 24px;
    padding: 0px 20px;
    vertical-align: top;
}
.footer-form-group input {
    font-size: 26px;
    color: #666;
    border-radius: 30px 0px 0px 30px;
    border: 0px;
    height: 82px;
    padding-left: 20px;
    padding-right: 150px;
}
.footer-mail-image {
    position:absolute;
    top: -15%;
    left: 47.5%;
}

.footer-blue {
    background-color: #072647;
    padding: 60px 0px;
}

.footer-blue-row {
    border-bottom: solid 1px #fff;
    padding-bottom: 80px;
}
.footer-text-bottom{
    color: #fff;
    text-align: center;
    font-size: 13px;
    margin-top: 30px;
}

.footer-blue-row p{
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    color:#fff;
}
.footer-blue-row a{
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    color:#fff;
    text-decoration: none;
    display: list-item;
    list-style-type: none;
}


.footer-blue img{
    margin-bottom: 30px;
}

.footer-nav-title {
    font-size: 26px!important;
    line-height: 30px!important;
    font-weight: 700!important;
    margin-bottom: 20px;
}
.footer-row {
    padding-left: 80px!important;
}
.call-us-today {
    margin-top: 150px;
    margin-right: -50px;
}

.call-us-today img{
    display: inline-block;
    margin-right: 20px;
}
.call-us-today p{
    display: inline-block;
}
.call-us-today a{
    font-size: 32px;
    font-weight: 900;
}

.shipping-quote-form {
    background-image: url("images/get_quote_background.png");
    height: 600px;
    padding-top: 150px;
    margin-top: -50px;
}


.get-quote-left p:nth-child(1){
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    color: #37445D;
    padding-right: 50px!important;
    margin-bottom: 30px;
}
.get-quote-left p:nth-child(2){
    font-size: 56px;
    font-weight: 700;
    line-height: 46px;
    color: #092F57;
    margin-right: -20px;
}
.get-quote-left p:nth-child(3){
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
    color: #F42434;
    margin-bottom: 30px;
}

.get-quote-left ul li {
    display: inline-block;
    margin-right: 100px;
    background-color: #F42434;
    padding:3px 12px;
    border-radius: 100%;
    border: 1px solid #F42434;
    position: relative;
    z-index: 999;
    color: #fff;
    font-size: 18px;
    font-weight: 700;

}
.get-quote-left ul li:nth-child(2){
    display: inline-block;
    margin-right: 100px;
    background-color: #fff;
    padding:3px 12px;
    border-radius: 100%;
    border: 1px solid #F42434;
    position: relative;
    z-index: 99;
    color: #F42434;
    font-size: 18px;
    font-weight: 700;
}

.get-quote-left ul li:nth-child(3){
    display: inline-block;
    margin-right: 100px;
    background-color: #fff;
    padding:3px 12px;
    border-radius: 100%;
    border: 1px solid #F42434;
    position: relative;
    z-index: 99;
    color: #F42434;
    font-size: 18px;
    font-weight: 700;
}


.get-quote-left ul{
    padding-left: 0px!important;
}
.get-quote-left ul li:after {
    content: '';
    background: #F42434;
    height: 1px;
    width: 106px;
    display: block;
    position: absolute;
    left: 100%;
    top: 45%;
    z-index: -10;
}
.get-quote-left ul li:last-child:after {
    content: '';
    background: #F42434;
    height: 1px;
    width: 0px;
    display: block;
    position: absolute;
}
.get-quote-right{
    padding-left:100px!important;
   
}
.get-quote-right p{
    color: #092F57;
    font-size: 14px;
    padding-left: 15px;
}

.get-quote-right div {
    margin-bottom: 20px;
}

.get-quote-right div div{
    display: inline-block;
    padding-right: 10px;
    width: 49%;
}

.get-quote-right div:nth-child(2) div{
    display: inline-block;
    padding-right: 10px;
    width: 32.5%;
}

.get-quote-right .input-right {
    border-radius: 80px;
    border: 0px;
    box-shadow: inset 0px 0px 8px rgba(189, 195, 197, 0.8);
    font-size:14px;
    color: #37445D;
    height: 57px;
    padding-left: 60px;
    width: 100%;
}

.get-quote-right div:nth-child(2) input{
    text-align: center;
    padding-left: 0px;
}

.email-icon{
    background-image: url(images/envelope-icon.png);
    background-repeat: no-repeat;
    background-position-x: 10%;
    background-position-y: 50%;
}
.name-icon{
    background-image: url(images/user-icon.png);
    background-repeat: no-repeat;
    background-position-x: 10%;
    background-position-y: 50%;
}
.get-quote-right div:nth-child(3){
    margin-top:20px;
}
.get-quote-right div:nth-child(3) div:nth-child(1){
    display: inline-block;
    padding-right: 10px;
    width: 60%;
}

.get-quote-right div:nth-child(3) div:nth-child(2){
    display: inline-block;
    padding-right: 10px;
    width: 39%;
    text-align: right;
}

.get-quote-right div:nth-child(3) div:nth-child(2) button{
    height: 57px;
    border-radius: 80px;
    border: 0px;
    background-color: #F42434;
    padding: 0px 55px;
    color: #fff;
    font-size: 24px;
}

.get-quote-radio {
    height: 22px;
    width: 22px;
    position: absolute;
    left: 50%;
}
.get-quote-label-radio{
    padding-left:40px;
    font-size: 14px;
    color: #092F57;
}

.arrow {
    border: solid rgb(255, 255, 255);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 6px;
  }
  
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
.get-quote-right select {
    border-radius: 80px;
    border: 0px;
    box-shadow: inset 0px 0px 8px rgba(189, 195, 197, 0.8);
    font-size:14px;
    color: #37445D;
    height: 57px;
    padding-left: 20px;
    width: 100%;
    background-color: #fff;

}

.selectdiv{
    position: relative;
    width: 100%!important;
}

  
  .selectdiv:after {
      content: '';
      color: #37445D;
      right: 10%;
      top: 35%;
      position: absolute;
      pointer-events: none;
      border: solid #37445D;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 5px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);


  }
  
  .selectdiv select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

  }

  .unit-selection li{
    display: inline-block;
    border: 1px solid rgb(55, 68, 93);
    border-radius: 50%;
    padding: 10px 11px;
    font-size: 14px;
    color: #37445D;
    cursor: pointer;
  }

.unit-selection {
    display: inline-block;
    width: auto!important;
}
.unit-div:after{
    content: '';
    color: #37445D;
    right: 15%;
    top: 35%;
    position: absolute;
    pointer-events: none;
    border: solid #37445D;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.unit-div select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

  }

.unit-div {
    display: inline-block;
    width: 56%!important;
    position: relative;
}

.get-quote-left-next p:nth-child(1){
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    color: #37445D;
    padding-right: 50px!important;
    margin-bottom: 30px;
}
.get-quote-left-next p:nth-child(2){
    font-size: 56px;
    font-weight: 700;
    line-height: 46px;
    color: #092F57;
    margin-right: -20px;
}
.get-quote-left-next p:nth-child(3){
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
    color: #F42434;
    margin-bottom: 30px;
}

.get-quote-left-next ul li {
    display: inline-block;
    margin-right: 100px;
    background-color: #fff;
    padding:3px 12px;
    border-radius: 100%;
    border: 1px solid #F42434;
    position: relative;
    z-index: 999;
    color: #F42434;
    font-size: 18px;
    font-weight: 700;

}
.get-quote-left-next ul li:nth-child(2){
    display: inline-block;
    margin-right: 100px;
    background-color: #F42434;
    padding:3px 12px;
    border-radius: 100%;
    border: 1px solid #F42434;
    position: relative;
    z-index: 99;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}

.get-quote-left-next ul li:nth-child(3){
    display: inline-block;
    margin-right: 100px;
    background-color: #fff;
    padding:3px 12px;
    border-radius: 100%;
    border: 1px solid #F42434;
    position: relative;
    z-index: 99;
    color: #F42434;
    font-size: 18px;
    font-weight: 700;
}


.get-quote-left-next ul{
    padding-left: 0px!important;
}
.get-quote-left-next ul li:after {
    content: '';
    background: #F42434;
    height: 1px;
    width: 106px;
    display: block;
    position: absolute;
    left: 100%;
    top: 45%;
    z-index: -10;
}
.get-quote-left-next ul li:last-child:after {
    content: '';
    background: #F42434;
    height: 1px;
    width: 0px;
    display: block;
    position: absolute;
}

.finish-button{
    height: 57px;
    border-radius: 80px;
    border: 0px;
    background-color: #F42434;
    padding: 0px 55px;
    color: #fff;
    font-size: 24px;
}

.finish-div div:nth-child(1) {
    display: inline-block;
    padding-right: 10px;
    width: 60%!important;
}

.finish-div div:nth-child(2) {
    display: inline-block;
    padding-right: 10px;
    width: 39%!important;
    text-align: right;
}

.get-quote-left-finish p:nth-child(1){
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    color: #37445D;
    padding-right: 50px!important;
    margin-bottom: 30px;
}
.get-quote-left-finish p:nth-child(2){
    font-size: 56px;
    font-weight: 700;
    line-height: 46px;
    color: #092F57;
    margin-right: -20px;
}
.get-quote-left-finish p:nth-child(3){
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
    color: #F42434;
    margin-bottom: 30px;
}

.get-quote-left-finish ul li {
    display: inline-block;
    margin-right: 100px;
    background-color: #fff;
    padding:3px 12px;
    border-radius: 100%;
    border: 1px solid #F42434;
    position: relative;
    z-index: 999;
    color: #F42434;
    font-size: 18px;
    font-weight: 700;

}
.get-quote-left-finish ul li:nth-child(2){
    display: inline-block;
    margin-right: 100px;
    background-color: #fff;
    padding:3px 12px;
    border-radius: 100%;
    border: 1px solid #F42434;
    position: relative;
    z-index: 99;
    color: #F42434;
    font-size: 18px;
    font-weight: 700;
}

.get-quote-left-finish ul li:nth-child(3){
    display: inline-block;
    margin-right: 100px;
    background-color: #F42434;
    padding:3px 12px;
    border-radius: 100%;
    border: 1px solid #F42434;
    position: relative;
    z-index: 99;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}


.get-quote-left-finish ul{
    padding-left: 0px!important;
}
.get-quote-left-finish ul li:after {
    content: '';
    background: #F42434;
    height: 1px;
    width: 106px;
    display: block;
    position: absolute;
    left: 100%;
    top: 45%;
    z-index: -10;
}
.get-quote-left-finish ul li:last-child:after {
    content: '';
    background: #F42434;
    height: 1px;
    width: 0px;
    display: block;
    position: absolute;
}

.get-quote-right .input-finish {
    border-radius: 80px;
    border: 0px;
    box-shadow: inset 0px 0px 8px rgba(189, 195, 197, 0.8);
    font-size:14px;
    color: #37445D;
    height: 57px;
    padding-left: 20px!important;
    width: 100%;
    text-align: left!important;
}

.finish-quote-form{
    margin-top: 100px;
}


.finish-quote-form p{
    text-align: center;
    color: #438A57;
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
}

.track-your-parcel {
    text-align: center;
    margin-top: 50px!important;
    margin-bottom: 100px!important;
    padding: 35px 35px 35px 35px!important;
    background-color: #092F57;
    border-radius: 120px;
}
.home-form-group input{
    height: 82px;
    border: 0px;
    border-radius: 50px 0px 0px 50px;
    width: 76%;
    color: #aaa;
    font-size: 32px;
    text-align: right;
    padding-right: 30px;
    font-weight: 400;
}

.home-form-group button{
    vertical-align: top;
    height: 82px;
    border-radius: 0px 50px 50px 0px;
    background: #F8BA1D;
    width: 23%;
    border: 0px;
    font-size: 24px;
    color: #000;
}

.track-your-parcel p{
    font-size: 32px;
    color: #fff!important;
    font-weight: 700;
    margin-bottom: 0px!important;
    padding-left: 10px;
}

.track-your-parcel p:nth-child(2){
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    padding-left: 0px;
}

.content-home{
    text-align: center;
}
.content-home h2{
    font-size: 56px;
    color: #092F57;
    margin-bottom: 40px;
}

.content-home p{
    color: #37445D;
}

.home-content-text{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 40px;
}

.home-content-text2{
    font-size: 16px;
    font-weight: 400;
    width: 80%!important;
    margin: auto;
    margin-bottom: 70px;
}

.read-more-button-home{
    border-radius: 80px;
    padding: 20px 40px;
    background: #F42434;
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    font-weight: 400;
    
}

.read-more-home{
    margin-bottom:70px;
}


.content-box-home{
    background: #fff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    padding:30px 50px;
    width: 70%!important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px!important;
}

.content-box-home:last-child{
    margin-bottom: 60px;
}

.content-box-inner{
    text-align: left;
    padding-right: 30px!important;
    color: #666666;
}

.content-box-home h3{
    font-size: 26px;
    line-height: 32px;
    color: #092F57;
    margin-bottom: 20px;
}

.content-box-img{
    position:relative;
}

.content-box-img img{
    position:absolute;
    top:20%;
    right: 25%;
}
.industries-header{
    background-repeat: no-repeat;
    padding-left: 0px!important;
    padding-right: 0px!important;

}
.jewlery{
    background-position-x: 100%;
    background-image: url('images/jewelry-header-background.png');

}

.industries-header-text h2{
    font-size: 36px;
    line-height: 42px;
    font-weight: 700;
    color: #F42434;
    margin-bottom: 30px;
}

.industries-header-text p{
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #10181f;    
}

.industries-header-text{
    margin-top: 50px!important;
    padding-bottom: 100px;
}

.gray-stripe-industries{
    background-color: #C4C4C4;
    padding: 30px 0px;
}
.gray-stripe-left{
    text-align: center;
    font-weight: 700;
    font-size:22px;
    border-right: 1px solid #000;
   
}
.gray-stripe-left img{
    display: inline-block;
    padding-top: 5px;
    margin-right: 20px;

}
.gray-stripe-left p{
    display: inline-block;
    vertical-align: middle;
    padding-top: 25px;
}

.gray-stripe-right {
    text-align: left;
    padding-left: 40px!important;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
}

.gray-stripe-right p{
    color: #10181F;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0px!important;
}
.shipping-quote-industries{
    background-color: #F0F0F0;
    height: auto;
    padding-top: 150px;
    padding-bottom: 50px;

}

.get-quote-industries p:nth-child(1){
    font-size: 56px;
    font-weight: 400;
    line-height: 46px;
    color: #092F57;
    margin-bottom: 30px;
    font-weight: 700;
}
.get-quote-industries h3 {
    font-size: 54px;
    font-weight: 400;
    line-height: 46px;
    color: #092F57;
    margin-bottom: 30px;
    font-weight: 700;
}

.get-quote-industries p:nth-child(2){
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
    color: #F42434;
}


.get-quote-industries ul li {
    display: inline-block;
    margin-right: 100px;
    background-color: #F42434;
    padding:3px 12px;
    border-radius: 100%;
    border: 1px solid #F42434;
    position: relative;
    z-index: 999;
    color: #fff;
    font-size: 18px;
    font-weight: 700;

}
.get-quote-industries ul li:nth-child(2){
    display: inline-block;
    margin-right: 100px;
    background-color: #fff;
    padding:3px 12px;
    border-radius: 100%;
    border: 1px solid #F42434;
    position: relative;
    z-index: 99;
    color: #F42434;
    font-size: 18px;
    font-weight: 700;
}

.get-quote-industries ul li:nth-child(3){
    display: inline-block;
    margin-right: 0px;
    background-color: #fff;
    padding:3px 12px;
    border-radius: 100%;
    border: 1px solid #F42434;
    position: relative;
    z-index: 99;
    color: #F42434;
    font-size: 18px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 70px;
}


.get-quote-industries ul{
    padding-left: 0px!important;
}
.get-quote-industries ul li:after {
    content: '';
    background: #F42434;
    height: 1px;
    width: 106px;
    display: block;
    position: absolute;
    left: 100%;
    top: 45%;
    z-index: -10;
}
.get-quote-industries ul li:last-child:after {
    content: '';
    background: #F42434;
    height: 1px;
    width: 0px;
    display: block;
    position: absolute;
}
.get-quote-industries {
    text-align: center;
}

.get-quote-industries-form{
    width: 50%!important;
    margin: auto;
   
}
.get-quote-industries-form p{
    color: #092F57;
    font-size: 14px;
    padding-left: 15px;
}

.get-quote-industries-form div {
    margin-bottom: 20px;
}

.get-quote-industries-form div div{
    display: inline-block;
    padding-right: 10px;
    width: 49%;
}

.get-quote-industries-form div:nth-child(2) div{
    display: inline-block;
    padding-right: 10px;
    width: 32.5%;
}

.get-quote-industries-form .input-right {
    border-radius: 80px;
    border: 0px;
    box-shadow: inset 0px 0px 8px rgba(189, 195, 197, 0.8);
    font-size:14px;
    color: #37445D;
    height: 57px;
    padding-left: 60px;
    width: 100%;
}

.get-quote-industries-form div:nth-child(2) input{
    text-align: center;
    padding-left: 0px;
}

.get-quote-industries-form div:nth-child(3){
    margin-top:20px;
}
.get-quote-industries-form div:nth-child(3) div:nth-child(1){
    display: inline-block;
    padding-right: 10px;
    width: 60%;
    position: relative;
}

.get-quote-industries-form div:nth-child(3) div:nth-child(2){
    display: inline-block;
    padding-right: 10px;
    width: 39%;
    text-align: right;
}

.get-quote-industries-form div:nth-child(3) div:nth-child(2) button{
    height: 57px;
    border-radius: 80px;
    border: 0px;
    background-color: #F42434;
    padding: 0px 55px;
    color: #fff;
    font-size: 24px;
}
.get-quote-radio-industries {
    height: 22px;
    width: 22px;
    position: absolute;
    left: 0%;
}
.industries-content {
    margin-top: 100px;
    text-align: center;
    width: 50%!important;
}

.industries-content-inner {
    margin-bottom: 40px;
}

.industries-content-inner h3{
    color: #F42434;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 30px;
}

.industries-content-inner p{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 30px;
}

.arts{
    background-position-x: 100%;
    background-image: url('images/artwork-header-background.png');
    background-color: #E3CFBB;
}

.technology {
    background-position-x: 100%;
    background-image: url('images/technology-header-background.png');

}

.industries-white-text{
    color: #fff!important;
}
.technology-paragraph {
    text-align: center;
    color: #072647;
    font-size: 22px;
    font-weight: 400;
    margin-top: -80px;
    margin-bottom: 50px;
    width: 82%;
    margin-left: auto;
    margin-right: auto;
}

.coins {
    background-position-x: 100%;
    background-image: url('images/collectible-header-background.png');  
}
.medical{
    background-position-x: 80%;
    background-image: url('images/medical-header-background.png');
}
.ecommerce {
    background-position-x: 100%;
    background-image: url('images/ecommerce-header-background.png'); 
}

.industry-header-text h2{
    font-size: 56px;
    line-height: 42px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 30px;

}

.industry-header-text{
    margin-top: 80px!important;
    padding-bottom: 80px;
}

.industry-white-text-b {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    color: #fff;
}

.industry-white-text {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #fff;
}

.industry {
    background-position-x: 100%;
    background-image: url('images/industries-header-background.jpg'); 
}

.industry-content h3{
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    color: #F42434;
    text-align: center;
}

.industry-content {
    margin-top: 80px;

}

.industry-content p{
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: #10181F;
    text-align: center;
    width: 70%;
    margin: auto;
    padding-bottom: 70px;
}

.industry-prop {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 25px;

    
}
.industry-prop p {
    color:#10181F;
    font-size: 13px;
    font-weight: 400;
    line-height: 28px;
    padding-bottom: 50px!important;

}

.industry-prop img{
    height: 70px;
}

.industry-prop a {
    color: #fff;
    background: #BE121F;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 35px;
    border-radius: 30px;
    text-decoration: none;
}

.industry-full-width{
    background-color: #DBDAD6;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 170px;
    position: relative;
    height: 540px;

}
.about-company-w {
    padding:0px!important;
}



.industries-left-img{
    position: absolute;
    right: 47%;
    top: -33%;
}
.about-left-img{
    position: absolute;
    left: 10%;
    top: -14%;
}

.industry-full-width-right {
    padding-top: 60px;
    padding-left: 20px;
}

.industry-full-width-right span{
    font-size: 24px;
    line-height: 28px;
    color: #F42434;
    font-weight: 700;
    margin-left: 30px;
}

.industry-full-width-right p{
    font-size: 16px;
    line-height: 28px;
    color: #10181F;
    font-weight: 400;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 35px;
}
.industry-full-width-right h3{
    font-size: 22px;
    line-height: 28px;
    color: #10181F;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}

.industry-full-width-specific{
    background-image: url('images/industries-background.png');
    padding-top: 90px;
    padding-bottom: 40px;
}

.industry-full-width-specific h3{
    color: #F42434;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
    margin-bottom: 30px;
}
.industry-full-width-specific p{
    color: #10181F;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-bottom: 50px;
}

.industry-specific-columns{
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    padding: 30px 35px;
    height: 560px;
    position: relative;
}

.industry-specific-columns p{
    text-align: left;
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
}


.industry-specific-columns .lw{
    font-weight: 400!important;
}


.industry-specific-columns h4{
    text-align: left;
    color: #F42434;
    font-size: 22px;
}

.industry-specific-columns hr {
    color: #10181f;
    margin: 10px 0px!important;
}

.industry-specific-columns a {
    color:#FFBA66;
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
    position:absolute;
    bottom: 5%;
}

.industry-specific-columns a:hover {
    color:#ff8c00;
    
}

.bg-text {
    font-size: 20px;
    line-height: 28px;
    color: #092F57;
    width: 85%;
}

.sm-text {
    font-size: 16px;
    line-height: 28px;
    color: #092F57;
    width: 85%;
}

.bl-box {
    background-color: #092F57;
    border-radius: 6px;
    padding: 40px 120px!important;
    margin-top: 50px!important;
    margin-bottom: 50px;
}

.bl-box p{
    color: white;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
}

.md-text-shp-ins {
    text-align: center;
    padding: 20px 230px!important;
}

.md-text-shp-ins h4 {
    font-size: 26px!important;
    font-weight: 700;
    line-height: 28px;
    color: #092F57;
    margin-bottom: 40px!important;
}
.md-text-shp-ins p{
    font-size: 16px;
    line-height: 28px;
    color:#10181F;

}
.feat-img {
    background-image: url('images/girl-with-package.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 6px 0px 0px 6px;
}

.sec-feat-img {
    background-image: url('images/secure-shipping-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 6px 0px 0px 6px;
}

.rat-feat-img {
    background-image: url('images/shipping-rates-woman.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 6px 6px 6px 6px;
}

.shp-ins-lb{
    background-color: #3E75AE;
    padding:110px!important;
    border-radius: 0px 6px 6px 0px;
}

.shp-ins-lb p{
    font-size: 16px;
    color: white;
    margin-bottom: 30px;
}

.shp-ins-lb h4{
    font-size: 26px;
    color: white;
    margin-bottom: 50px!important;
}

.ins-comm{
    margin-bottom: 60px!important;
}

.sec-comm{
    margin-bottom: 80px!important;
    margin-top: 60px!important;
}

.ship-ins-lg {
    background-color: #F0F0F0;
    padding: 60px 0!important;
    text-align: center;

}

.ship-ins-lg h4 {
    font-size: 26px!important;
    font-weight: 700;
    line-height: 28px;
    color: #092F57;
    margin-bottom: 40px!important;
}
.ship-ins-lg p{
    font-size: 16px;
    line-height: 28px;
    color:#10181F;

}
.sme-text{
    font-size: 22px;
    color: #10181f;
    line-height: 36px;
    margin-bottom: 60px;
}
.bn-sp{
    text-align: center;
    padding-top: 60px!important;
    padding-bottom: 100px!important;
}
.ins-btm-img {
    padding-right: 20px!important;
}
.ins-btm-lst{
    text-align: left;
    padding-top:20px;
}

.ins-btm-lst ul li{
    line-height: 36px;
    font-size: 16px;
} 
.ins-btm-lst ul {
    list-style: none;
}

.ins-btm-lst ul li:before {
    content: '✓ ';
    font-size: 30px;
    color: #3E75AE;
  }


.ship-ins-db{
    padding: 40px;
    background-color: #092F57;
    text-align: center;
    margin-bottom: 60px;
}

.ship-ins-db h4 {
    font-size: 22px!important;
    line-height: 36px;
    font-weight: 700!important;
    color: #fff;
}

.ship-ins-db p {
    font-size: 16px;
    line-height: 28px;
    color: #fff;
    width: 60%!important;
    margin-left: auto;
    margin-right: auto;
}
.wht-bln{
    text-align: center;
    margin-top: 80px!important;
}

.wht-bln img {
    size: auto;
    margin-bottom: 20px;
}
.wht-bln h3 {
    font-size: 26px!important;
    color: #092F57;
    line-height: 36px;
}

.wht-bln p {
    font-size: 16px;
    line-height: 28px;
    color: #000;
    margin-bottom: 20px!important;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
.mid-pt {
    position:relative;
    margin-top: 80px!important;
    margin-bottom: 100px;
}
.mid-pt img{
    position: absolute;
    top:-22%;
    background:#fff;
    left:47%;

}
.mid-lp {
    border: 1px solid #F42434;
    width: 90%;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 10px 30px 10px!important;
}

.mid-lp p{
    margin-bottom: 0!important;
    font-size: 26px;
    line-height: 32px;
    font-weight: 400;
    color: #F42434;
}

.sec-mid-t {
    margin-bottom: 20px!important;
}

.sec-mid-t p{

    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 50px!important;
}

.sec-bot-l p{
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: right;
    color: #F42434;
}
.sec-bot-r p{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #10181F;
    margin-bottom: 20px!important;
}

.sec-mid-t:last-child {
    margin-bottom: 60px!important;
}

.shp-rat-t{
    padding-left: 40px!important;
}

.shp-rat-t p{ 
    font-size: 16px;
    line-height: 28px;
    margin-bottom:30px!important;

}
.shp-rat-t h4 {
    font-size: 22px;
    line-height: 28px;
    margin-bottom:40px!important;
}
.blg-ar-lp{
    background-color: #092F57;
    padding: 40px;
    border-radius: 6px;
    margin-bottom: 60px;
}
.blg-ar-lp h3{
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    margin-bottom: 20px;

}

.blg-ar-lp img{
    width: 100%;
    padding-right: 20px;
}

.blg-lp-c {
    padding-top: 50px;
}

.blg-lp-c a {
padding:10px 20px;
background: #F8BA1D;
border-radius: 6px;
font-size:13px;
font-weight: 700;
text-decoration: none;
color: #000;

}

.blg-lp-c p {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 40px;
    margin-bottom: 40px;
}

.blg-ar-cr {
    font-size: 18px!important;
    background: transparent!important;
    font-style: normal;
    font-weight: 400!important;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #F8BA1D!important;
    text-decoration: underline!important;
    padding: 0px!important;
}

.blg-ar-rr {
    font-size: 18px!important;
    background: transparent!important;
    font-style: normal;
    font-weight: 400!important;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color:#F42434!important;
    text-decoration: underline!important;
    padding: 0px!important;
}

.blg-cat {
    background: #C4C4C4;
    border-radius: 6px;
    text-align: center;
    padding: 5px 0px!important;
    width: 80%;
    margin-left: auto;
}

.blg-cat-g {
    background: #C4C4C4;
    border-radius: 6px;
    text-align: center;
    padding: 5px 0px!important;
    width: 50%;
    margin-left: auto;
}

.cat-r {
    text-align: right;
}
.blg-cat span{
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: #000!important;



}

.blg-cat a{
    font-size: 13px!important;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: #000!important;
}

.blg-cat-g span{
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: #000!important;



}

.blg-cat-g a{
    font-size: 13px!important;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: #000!important;
}

.blg-lst-hdln p{
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #10181F;
}
.blg-lst-a {
    padding:10px 20px;
    background: #F8BA1D;
    border-radius: 6px;
    font-size:13px;
    font-weight: 700;
    text-decoration: none;
    color: #000;
    
    }
.pd-z {
    padding: 0!important;
}

.blg-gr {
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    padding: 40px!important;
    margin-bottom: 40px!important;
}

.blg-lst-r {
    text-align: right;
}
.blg-gr img {
    margin:20px 0!important;
}
.lnk-blg {
    margin-top: 40px!important;
}
.lt-pst {
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    margin-left:30px;
    padding: 25px!important;
    margin-bottom: 30px!important;
}

.blg-sb-cats {
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    margin-left:30px;
    padding: 25px!important;
    margin-bottom: 30px!important;
}

.blg-sb-cats a {
display: list-item;
list-style: none;
border-bottom: 1px solid #C4C4C4;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 42px;
letter-spacing: 0em;
text-align: left;
color: #10181F;
text-decoration: none;
}

.blg-sb-cats a:last-child {
border-bottom: 0px solid #000;
}
.blg-sb-t {
    color: #F8BA1D;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 25px;
}

.blg-sb-pt {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color:#10181F;
    margin-bottom: 10px!important;
    margin-top: 30px;
}
.blg-img-feat {
    border-radius: 6px;
}

.blg-sb-img {
    width: 100%;
    margin-bottom: 20px;
}
.blg-sb-pd {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color:#10181F;
    margin-bottom: 10px!important;
}
.lt-pst a{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #F42434;

}
.blg-sb{
    padding: 0px!important;
}
.rta-blg {
    text-align: right;
}
.blg-nav {
color: #999;
font-size: 13px;
font-style: normal;
font-weight: 700;
line-height: 16px;
letter-spacing: 0em;
text-decoration: none;
}

.blg-nav p{
    color: #999;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;

    }

.prev-blg {
    text-align: left;
    position: relative;
}

.next-blg {
    text-align: right;
}

.next-blg p{
    text-align: right;
}

.prev-blg i{
    position: absolute;
    color: #000;
}

.prev-blg p{
    position: relative;
    left: 20%;
    top: -25%;
}

.next-blg {
    text-align: left;
    position: relative;
}


.next-blg i{
    position: absolute;
    color: #000;
    right: 0%;
}

.next-blg p{
    position: relative;
    right: 20%;
    top: -25%;
}
.about-company span {
color: #ccc;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 28px;
letter-spacing: 0em;
text-align: center;
}
.about-company p {
    color: #10181f;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    
}
.about-company h3 {
    color: #092F57;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;

}
.about-company {
    width: 65%!important;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.about-company hr {
    color:#F8BA1D;
    height: 3px!important;
    width: 10%;
    margin-left: auto!important;
    margin-right: auto!important;
    margin-top: 20px!important;
}

.about-h{
    height: 400px!important;
    margin-top: 100px!important;

}
.about-m {
    margin-top: 100px!important;
}
.about-h3 {
font-size: 22px!important;
font-style: normal!important;
font-weight: 700!important;
line-height: 28px!important;
letter-spacing: 0em!important;
text-align: center!important;
color: #10181F!important;
}

.about-p{
font-size: 16px!important;
font-style: normal!important;
font-weight: 400!important;
line-height: 28px!important;
letter-spacing: 0em!important;
text-align: center!important;
width: 80%!important;
padding-bottom: 30px!important;
}
.about-content {
    margin-bottom: 60px!important;
}
.about-pb {

font-size: 20px!important;
font-style: normal!important;
font-weight: 400!important;
line-height: 36px!important;
letter-spacing: 0em!important;
text-align: center!important;
color:#10181F!important;
}
.about-content-b {
    margin-top: 100px!important;
}
.about-content-b img {
    width: 100%;
    margin-bottom: 40px!important;
}




@media only screen and (max-width: 480px) { 

    .feat-img {
        background-image: url(images/girl-with-package.png);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 6px 6px 0px 0px;
        height: 400px;
    }
    .sec-feat-img {
        background-image: url(images/secure-shipping-image.png);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 6px 6px 0px 0px;
        height: 400px;
    }

    .rat-feat-img {
        background-image: url('images/shipping-rates-woman.png');
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 6px 6px 6px 6px;
        height: 400px;
        margin-bottom: 30px!important;
    }
    .shp-ins-lb {
    border-radius: 0px 0px 6px 6px;
    }

    .shp-rat-t {
        padding-left: 0px!important;
    }


    .top-header{
        display: none;
    }
    .menu-align {
        display: none;
    
    }
    .vertica-align-item{
        display: none;
    }
    .shipping-quote-form{
        padding-top: 0px;
        margin-top: 30px;
    }
    .get-quote-left{
        text-align: center;
    }
    .get-quote-left-next{
        text-align: center;
    }
    .get-quote-left-finish{
        text-align: center;
    }

    .mobile-logo img{
        width: 50%;
    }
    .get-quote-left ul li:nth-child(3) {
        margin-right: 0px;

}
    .get-quote-left ul li {
        margin-right: 60px;
}
    .get-quote-left ul li:after {
        width: 66px;
    }
    .get-quote-left ul li:nth-child(2) {
        margin-right: 60px;
}

.get-quote-left-next ul li:nth-child(3) {
    margin-right: 0px;

}
.get-quote-left-next ul li {
    margin-right: 60px;
}
.get-quote-left-next ul li:after {
    width: 66px;
}
.get-quote-left-next ul li:nth-child(2) {
    margin-right: 60px;
}

.get-quote-left-finish ul li:nth-child(3) {
    margin-right: 0px;

}
.get-quote-left-finish ul li {
    margin-right: 60px;
}
.get-quote-left-finish ul li:after {
    width: 66px;
}
.get-quote-left-finish ul li:nth-child(2) {
    margin-right: 60px;
}


    .get-quote-left p:nth-child(1) {
        padding-right: 0px!important;
        font-size: 16px;
        margin-bottom: 10px;
    }
    .get-quote-left p:nth-child(2) {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .get-quote-left p:nth-child(3) {
        font-size: 22px;
        margin-bottom: 10px;
    }
    .get-quote-right {
        padding-left: 0px!important;
    }

    .get-quote-right div div {
            width: 100%;
        }

    .get-quote-right p {
            color: #092F57;
            font-size: 14px;
            text-align: center;
        }    
        .container{
            width:90%!important;
        }

    .mobile-mt{
        margin-top:0px;
        width: 100%!important;
    }    
    .shipping-quote-form {
        background-image: url('images/mobile-backgorund.png');
        height: auto;
        background-repeat: no-repeat;
        background-size: cover;
}
    .get-quote-right div {
        margin-bottom: 10px;
}
    .chose-sw-mb {
        position:relative;
    }
    .chose-s-mb p {
        position: absolute;
        top: 0;
        left: 33%;
    }
    .get-quote-right div:nth-child(3) div:nth-child(1) {
        width: 100%;
        text-align: center;
    }
    .get-quote-right div:nth-child(3) div:nth-child(2) {
        width: 100%;
        text-align: center;
    }
    .get-quote-radio {

        left: 18%;
    }
    .track-your-parcel{
        border-radius: 0;
    }
    .track-your-parcel {
        margin-top: 0px!important;
        position: relative;
        padding: 100px 35px 35px 35px!important;
    }
    .home-form-group button {
        vertical-align: top;
        height: 60px;
        border-radius: 50px;
        background: #F8BA1D;
        width: 50%;
        font-size: 24px;
        margin-top:20px;
    }

    .mb-rm img{
        display:none;
    }
    .home-form-group input {
        height: 60px;
        border-radius: 50px;
        width: 100%;
        color: #aaa;
        font-size: 26px;
        text-align: center;
        padding-right: 0px;
        font-weight: 400;
    }
    .mb-rm {
        position: absolute;
        top: -10%;
        left:10%;
        background-color: #092F57;
        width: 80%!important;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50px;
        padding-top:10px;
        padding-bottom: 10px;

    }
    .mb-rm p:nth-child(1){
        font-size: 18px;
    }
    .mb-rm p:nth-child(2){
        font-size: 13px;
    }
    .get-quote-right div:nth-child(3) div:nth-child(2) button {
        margin-bottom:70px;
    }
    .content-home h2{
        font-size: 30px;
    }
    .home-content-text {
        font-size: 16px;
    }
    .home-content-text2 {
        font-size: 13px;
        width: 100%!important;
        line-height: 26px;
    }
    .content-box-img img {
        position: initial;
        width: 30%;
        margin-bottom: 30px;
    }
    .content-box-home {
        width: 90%!important;
    }
    .content-box-home h3{
        text-align: center;
    }
    .content-home p {
        text-align: center;
}
.footer-mail-image {
    top: -10%;
    left: 40%;
    width: 20%;
}
.footer-yellow-text {
    color: #F8BA1D;
    font-size: 18px;
    margin-bottom: 0;
    text-align: center;
}
.footer-blue-row p {
    text-align: center;
}
.footer-white-text {
    font-size: 13px;
    text-align: center;
}
.footer-nav-title{
    text-align: center;
}
.footer-form-group input {
    width: 80%;
    font-size: 16px;
    height:60px;
    border-radius: 50px;
    text-align: center;
    padding:0;
}
.footer-form-group button {
    background: #F8BA1D;
    border-radius: 50px;
    height: 60px;
    font-size: 24px;
    vertical-align: top;
    width: 50%;
    margin-top: 20px;
}
.footer-blue-row {

    text-align: center;
}
.footer-blue-row img {
    width: 50%;
}
.call-us-today {
    display: none;
}

.footer-row {
    padding-left: 0px!important; 
    margin-top: 30px!important;
}

.bl-box {

    padding: 40px 40px!important;
}
.md-text-shp-ins {

    padding: 20px 20px!important;
}
.shp-ins-lb {

    padding: 40px!important;

}
.ship-ins-lg {
    padding: 0 40px!important;
}
.ins-btm-img img{
    width:100%;
}

.mid-pt img {
    top: -10%;
    left: 40%;
}
.ins-btm-lst ul {
    list-style: none;
    padding-left: 0px!important;
}

.sec-bot-l p{
    text-align: left;
}
.lt-pst {
    margin-left: 0px!important;
}
.blg-lst-r {
    text-align: left;
}
.blg-cat-g {
    margin-left: 0px!important; 
    margin-right: auto;
    margin-top: 20px;
    width: 70%;

}
.industries-header-text p{
    color: #fff;
}
.get-quote-industries-form {
    width: 100%!important;
}
.get-quote-industries-form div div {

    width: 100%;
}
.get-quote-industries-form div:nth-child(3) div:nth-child(2){
    width: 60%;
}
.industries-mobile {
    color: #000!important;
}
.finish-div div:nth-child(2) {
    width: 63%!important;
}
.industries-header{
    background-size: cover;
}
.industry-prop {
    margin-bottom: 20px;
}
.industries-mobile-w {
    width: 100%!important;
}
.industry-full-width{
    height: auto!important;
}
.industries-left-img {
    position:relative!important;
    width: 100%;
    right: 20%;
    top: 0%;
}
.about-left-img {
    position:relative!important;
    width: 100%;
    right: 20%;
    top: 0%;
}


.industry-specific-columns{
    height: auto!important;
    margin-bottom: 20px;
}
.prev-blg p {
    width: 50%;
}

.next-blg p {
    width: 50%;
    right: -30%;
}
.about-company {

    width: 100%!important;
}
.about-left-img {

    left: 0%;
}
.industry-content p{
    width: 100%;
}
.about-p {
    width: 100%;
}
}





.dev-head {
    background-color: #092F57;
    padding: 110px 0px;
    margin-bottom: 80px;
}

.dev-head h2{
    color: #fff;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
}
.dev-head p{
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}
.dev-head hr{
    height: 3px!important;
    width: 80px;
    color: #fff;
    opacity: 1!important;
}
.dev-width{
    width: 75%!important;
    margin:auto;
}

.dev-cont h3{
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 30px!important;
}

.dev-cont p{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
}
.dev-cont hr{
    height: 3px!important;
    width: 80px;
    color: rgb(0, 0, 0);
    opacity: 1!important;
    margin: 40px 0px!important;
}
.dev-cont span{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    color: #F42434;
}
.dev-cont a{
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    color: #000;
}

.dev-gb {
    background-color: #EEF0F3;
    padding: 50px 40px!important;
    text-align: center;
    margin-bottom: 200px;
    margin-top: 80px;
}

.dev-gb p{
    text-align: center;
    width: 85%;
    margin: auto;
}

.dev-gb img{
    margin: 50px 0px!important;
    width: 100%;
}
.dev-gb-inner {
    background-color: #fff;
    padding: 50px 0px;
    margin-top: 40px;
    
}
.dev-gb-inner p{
    text-align: left;
    margin: auto;
    width: 40%;
}
.contact-us{
    margin-top: 30px!important;
    margin-bottom: 50px;
}

.contact-us h1{
color: #092F57;
font-size: 56px!important;
font-style: normal;
font-weight: 700!important;
line-height: 66px;
letter-spacing: 0em;
text-align: left;
margin-top: 0px!important;

}

.contact-us p{
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
color: #092F57;
margin-bottom: 50px;
}
.contact-us a{
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
color: #fff;
background-color: #092F57;
padding:20px;
border-radius: 6px;
text-decoration: none;
}
.contact-us-form {
    margin-bottom: 100px;
}

.contact-us-form h4{
color: #F42434;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 28px;
letter-spacing: 0em;
text-align: left;

}
.contact-us-form p{
font-size: 14px;
color: #1F0D02;
padding-left: 10px;
margin-bottom: 0px!important;

}

.contact-us-form a{
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 16px;
letter-spacing: 0em;
text-align: left;
}
.contact-us-form hr{
margin-bottom: 30px!important;
}
.contact-us-form input{
border-radius: 8px;
border: 0px;
box-shadow: inset 0px 0px 8px rgb(189 195 197 / 80%);
font-size: 14px;
color: #37445D;
height: 57px;
padding-left: 60px;
width: 100%;
}    
.contact-text {
    margin-top: 30px!important;
}
#client-text{
    height: 250px;
    margin-bottom: 50px;
}
.contact-us-radio {
height: 22px!important;
width: 22px!important;
position: absolute;
left: 0%;
box-shadow: inset 0px 0px 8px rgb(256 256 256 / 0%)!important;
}
.check-contact-us{
    position: relative;
}

.contact-label-radio {
    padding-left: 40px;
    color: #1F0D02;
}
.check-contact-us div:nth-child(1){
    width: 60%;
    display: inline-block;
}
.check-contact-us div:nth-child(2){
    width: 39%;
    display: inline-block;
    text-align: right;
}

.check-contact-us div:nth-child(2) button {
    height: 57px;
    border-radius: 80px;
    border: 0px;
    background-color: #F42434;
    padding: 0px 55px;
    color: #fff;
    font-size: 24px;
}
.find-us {
    font-size: 16px!important;
}

.contact-us-loc-dat {
    margin-top: 30px;
    padding-left: 20px;
    position: relative;
}

.contact-us-loc-dat i{
    font-size: 25px; 
}
.location-ab{
    position: absolute;
}
.loc-t{
    top:10%;
}

.contact-us-loc-dat span{
    position: relative;
    left: 15%;
}
.contact-us-loc-dat p{
    font-size: 16px!important;
    margin-bottom: 20px!important;
}
.cen-alg {
    text-align: center;
    margin-bottom: 150px;
}

.cen-alg p{
    text-align: center;
    color: #000;
}
.cen-alg img{

    width: 360px;

}
.map-contact {
    padding: 0px!important;
}


@media only screen and (max-width: 480px) { 
.dev-width {
    width: 100%!important;
}
.dev-gb-inner p {
    width: 90%;
}
.dev-gb {
    margin-bottom: 100px;
}
.contact-us a {
    font-size: 12px;
}
.mob-cont {
    margin-top: 50px!important;
}
.mob-cont img{
    width: 100%;
}
.check-contact-us div:nth-child(2) {
width: 100%;
text-align: center;
margin-top: 20px;
}
.check-contact-us div:nth-child(1) {
    width: 100%;
}
.map-contact {
    margin-bottom: -100px;
}
}
